{% extends 'index.html' %}

{% block body %}

    {% if error %}

    <p>{{ error }}</p>

    <br>

    {% endif %}
        <h2>Login</h2>

        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            User Name:
            <br>
            <input type="text" name="username">
            <br>
            Password:
            <br>
            <input type="password" name="password">
            <br>
            <br>
            <input type="submit" name="submit" value="Login">
        </form>

{% endblock %}
